@media(max-width:1440px) {


    .row {
        padding-top: 265px;
        margin-left: -201px;
    }
}




@media(max-width:1025px) {



    .row {
        padding-top: 174px;
        margin-left: -224px;
    }


    .container {

        height: 634px;
        padding-top: 0px;
        width: 100%;
    }





}



@media(max-width:769px) {




    .row {

        padding-top: 229px;
        /* margin-top: 555px; */
        margin-left: -338px;
    }

    .container {
        /* height: 1460px; */
        padding-top: 0px;
        /* width: 177%; */


    }




}


@media(max-width:426px) {

    
    .row {

        padding-top: 134px;
        /* margin-top: 555px; */
        margin-left: -520px;
    }
}

.container {
    overflow: hidden;

    height: 1000px;
    padding-top: 0px;
    width: 100%;
}


@media(max-width:376px) {

   

    .container {
        overflow: hidden;

    }



    .row {
        margin-left: -550px;
    }





span{
     
        top: 4px;
        left: 261px;
    }






}




















@media(max-width:320px) {

    .container{
        scroll-behavior: smooth;
    overflow-y: scroll;
    
    }

  .row {
        margin-left: -550px;
    }


    #add-btn {
        padding: 15px 10px;
        margin: 30px -129px;
       
    }
    


span{
     
    top: 0px;
    left: 214px;
    }






}