*{
    margin: 0;padding: 0px;
}
body{
    /* overflow-y: hidden; */
 background-color: rgb(255, 176, 176);
}
.main{
height: 100%;
width: 100%;
    /* background-color: yellowgreen; */
}
.container{
height: 353px;
background-color: #fff;
width: 533px;
border-radius: 30px;
margin-left:254px;
margin-top: 233px;
}
.head-area h1{
 text-align: center;
}

.add-area{
    /* background-color: aqua; */
padding: 44px 23px;
height: 233px;
}

input{
background: transparent;
    padding: 20px 5px;
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    border: none;
     outline: none;
     font-size: 20px;
margin-left:25px ;
width: 420px;
    }



    .add-btn{
        position: relative;
        padding: 18px 30px;
        border: none;
        border-radius: 50px;
        font-size: 25px;
        outline: none;
        left: 383px;
        top: -64px;
        background-color: rgb(255, 227, 66);
}
.add-btn:hover{
    background-color: rgb(255, 239, 151);
 border: 2px solid black;
cursor: pointer;
}



ul{
    margin-top: -33px;
}
ul li{
    list-style: none;
    padding: 9px 5px;
    font-size: 30px;
    margin-left: 65px;

}

ul li::before{
height: 38px;
width: 40px;
cursor: pointer;
position: absolute;
content: "";
left: 303px;
/* top: 303px; */
background-image: url(./bx-checkbox.svg);
background-position: center;
background-size: cover;
}
.checked{
text-decoration: line-through;
}