* {
    margin: 0;
    padding: 0;
}

.container {
    background: linear-gradient(120deg, #153677, #4e085f);

    height: 100vh;
    min-height: 100%;
}


.to-do-heading {

    height: 500px;
    width: 400px;
    border-radius: 10px;
    background-color: #fff;
    margin-left: 533px;
    margin-top: 133px;

}

.to-do-heading h1 {
    text-align: center;
}


.input-box {
    background-color: rgb(225, 225, 225);
    border: none;
    outline: none;

    border-radius: 50px;
    padding: 12px 14px;
    margin: 20px 36px;
}



.add-btn {
    padding: 5px 10px;
    margin: 20px -23px;
    width: 104px;
    border-radius: 50px;
    font-size: 20px;
    border: none;
    outline: none;

    cursor: pointer;
    background-color: rgb(242, 242, 86);
}

.add-btn:hover{
    background-color: rgb(179, 179, 11);
}