*{
    margin: 0;padding: 0px;
}
body{
    /* overflow-y: hidden; */
 background-color: rgb(255, 176, 176);
}
.main{
height: 100%;
width: 100%;
    /* background-color: yellowgreen; */
}

.container{
    min-height: 103px;
    height: auto;
    /* height: 353px; */
background-color: #fff;
width: 533px;
border-radius: 30px;
margin-left:254px;
margin-top: 233px;
}
.head-area h1{
 text-align: center;
}

.add-area{
    /* background-color: aqua; */
padding: 44px 23px;
min-height: 103px;
height: auto;
}

input{
background: transparent;
    padding: 20px 5px;
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    border: none;
     outline: none;
     font-size: 20px;
margin-left:25px ;
width: 420px;
    }



    .add-btn{
        position: relative;
        padding: 18px 30px;
        border: none;
        border-radius: 50px;
        font-size: 25px;
        outline: none;
        left: 383px;
        top: -64px;
        background-color: rgb(255, 227, 66);
}
.add-btn:hover{
    background-color: rgb(255, 239, 151);
 border: 2px solid black;
cursor: pointer;
}
/* ....................ul-area........ */

ul{

    
}

ul li{
    list-style: none;
}

#ul-area{
margin-left: 33px;
margin-top: -33px;
width: 433px;
/* height: 100px; */
height: auto;

/* background-color: goldenrod; */
}
.ul-box{
    display: flex;
    flex-direction: row;
justify-content: space-between;
margin-bottom: 5px;
}


#empty-mark{
    width: 45px;
height: 45px;
margin-left: 3px;

cursor: pointer;

}
#spn{
/* background-color: rgb(255, 239, 151); */
    font-size: 35px;
    margin-left: -12px;
    width: 329px;
}

#spnLine{
    text-decoration: line-through;
}
#cross-mark{
   width: 45px;
   height: 45px;
   cursor: pointer;

}