body{
    background-color: #002339;
display: flex;
justify-content: center;

}
.container{
border: 2px solid white;
    color: white;
width: 350px;
min-height: 284px;
background-color: rgb(128, 217, 210);
margin-top: 104px;
border-radius: 10px;
height: auto;

}
.container h1{
text-align: center;

    color: rgb(0, 0, 0);
}
.show-result{
    background-color: rgb(31, 56, 31);
    height: 250px;
    height: auto;
    background-color: #002339;
padding: 10px;
}

.btn-area{
height: 100px ;
 width:  300px;
 margin-left: 23px;
 /* background-color: red; */
}
.btn{

margin-top:32px;
margin-left: 103px;
border: 0;
background-color: rgb(205, 138, 50);
border-radius: 5px;
color: white;
cursor: pointer;
padding: 1rem;
}
.btn:hover{
scale: 1.1;
border: 2px solid white;
/* margin-top: 40px; */

}
#jokes-container{
    color: white;
    padding: -10px 30px;
    font-size: 25px;
}