.container{
    background: linear-gradient(120deg, #153677, #4e085f);
width: 100%;
height: 100vh;
}
*{
    margin: 0;

padding: 0;

}

.pass-head-field{
    color: white;
    background-color: rgb(224, 224, 224);
    text-align: center;
    width: 400px;
top: 144px;
border-radius: 20px;
left: 463px;
position: relative;
    height: 200px;
}
.pass-head-field h1{
    color: black;
}
hr{
    color:black;
    border-bottom: 3px solid black;
}
.input-field{
/* background-color: greenyellow; */
height: 200px;

}
#input-box{
position: absolute;
top: 100px;border: none;
outline: none;
width: 306px;
border-radius: 10px;
left: 33px;
font-size: 25px;
padding: 15px 10px;
}
#view-pass{
     width: 32px;
    position: absolute;
    top: 113px;
    right: 63px;
    cursor: pointer;
    height: 32px;
}

.spn{
    color: rgb(145, 232, 15);
/* color: #f79319; */
}

#pass-msg{
    position: relative;
    bottom: 116px;
    right: 37px;
font-size: 20px;
    color: black;
    display: none;
    font-weight: 300;
}